[submodule "Backend-Google-Maps"]
	path = Backend-Google-Maps
	url = https://github.com/Zolyder/Backend-Google-Maps
[submodule "Frontend-Google-Maps"]
        path = Frontend-Google-Maps
        url = https://github.com/Zolyder/Frontend-Google-Maps
